/*	Sales Graphs
    ------------------------------------------------------- */
#date-range, #genre-chart-type {
	background: none;
	margin: 0;
	padding: 0;
}

	#date-range li, #genre-chart-type li {
		border: none;
		background-color: #b4b4b4;
		color: #fff;
		margin-right: 8px;
		padding: 3px 6px;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		text-decoration: none;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		cursor: pointer;
		border: none;
	}



		#date-range li:hover, #date-range li.k-state-selected, #genre-chart-type li:hover, #genre-chart-type li.k-state-selected {
			background-color: #D88E2F;
			color: #fff;
		}

#date-range {
	padding-bottom: 30px;
	font-size: 15px;
}

#genre-chart-type {
	font-size: 11px;
}

#revenue-chart {
	margin-bottom: 50px;
}

	#revenue-chart text[style], #genre-chart text[style] {
		font: 12px helvetica, sans-serif !important;
	}

	#revenue-chart g path:first-child {
		fill: #D88E2F;
		stroke: none;
	}


	#revenue-chart g path:nth-child(2), #genre-chart g path:nth-child(2) {
		display: none;
	}

	#revenue-chart g path[fill="none"] {
		fill: none;
	}

	#revenue-chart g[clip-path] path {
		stroke: #ccc;
	}

.cake {
	text-transform: uppercase;
	display: block;
	clear: right;
}


/* Genre Chart
    ------------------------------------------------------- */
#genre-chart {
	clear: none;
	min-height: 400px;
	font-size: .6em;
	text-align: center;
	color: #a33636;
}
	
#genre-chart a:link, #genre-chart a:visited {
	color: #a33636;
}

#genre-chart a:hover {
	color: #a86464;
}

.selector {
	background: #EEE;
	border: solid #DADADA;
	border-width: 0 1px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}

	.selector li {
		list-style-type: none;
		display: inline-block;
		padding: 4px 10px;
		cursor: pointer;
		border-left: 1px solid #999;
	}

		.selector li:last-child {
			border-right: 1px solid #999;
		}


#albumsGrid img {
	height: 60px;
	width: 60px;
}

#albumArtUploadWindow {
	display: none;
}

.k-calendar td.k-state-selected a {
	background-color: #D88E2F;
}

.k-calendar .past {
	color: #eee;
}
